$color: blue;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); background-color: hsla(0, 0%, 20%, 1); }

.home {
	color: $gray-900; /* variable from bootstrap config */
}